<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "/WEB-INF/config/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J" />
		<setting name="jdbcTypeForNull" value="VARCHAR" />
		
	</settings>
	<typeAliases>
		<!-- 빈클래스 별명 (Alias) -->
		<!-- <typeAlias type="" alias=""/> -->
	</typeAliases>

	<mappers>
		<package name="com.imoxion.core.mapper"/>
	</mappers>

</configuration> 