@CHARSET "UTF-8";

#cont{
	width: 94%;
    height: 283px;
}

#title{
	width:96%
}

.boardInput_button{
	position: relative;
    float: right;
    margin-top: 32px;
    margin-right: 3px;
}

#board_line{
	border: 2px solid; 
	padding-left:20px; 
	width: 96%;
/*     height: 480px; */
}