@CHARSET "UTF-8";

#board_top{
	border-top: 2px solid indianred;
	border-bottom: 2px solid indianred;
}

#board_bottom{
	border-bottom: 1px solid;
}

.span8 {
    width: 69.7%;
}

.table td{
	padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef
}

.table th{
	padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef
}

#board_search{
    margin-bottom: 9px;
    height: 28px;
    margin-left: -2px;
}

#board_keyWord{
	width: 135px;
    margin-left: -2px;
        height: 24px;
}

#board_keyField{
	width: 69px;
    margin-left: 1px;
}
.boardright{
	position : relative;
	float : right;
}
