@CHARSET "UTF-8";


.mmjymastemover {    
    width: 1303px;
    margin-left: 450px;
    margin-top: 20px;
}

.managermove{
	width: 874px;
    height: 384px;
    margin-bottom: 34px;    
    background-image: url("../img/88-1.jpg");
    background-repeat: no-repeat;
    background-size: 950px 365px;
}

.managermove h1 {
    font-size: 50px;
    margin: 0;
    padding-left: 270px;
    padding-top: 148px;
    padding-bottom: 0;
    color: white;
    
}