@CHARSET "UTF-8";


.table tr th{
	    width: 15%;
	    
}
.table tr td{
	    width: 260px;
}

select {
    width: 100px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

#search_search{
	    margin-top: -14px;
	    margin-left: 86px;
}
input {
	width: 25%;
}

.span8 {
	width : 69.7%;
}

#s_keyField{
	width: 75px;
	height: 31px;
}

.search_ul{
    border-top: 2px solid #ff0000;
    
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom : 0px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.search_table{
	border: 2px solid red;
	height: 190px;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

/* 979이하일 때 */
@media (max-width: 979px) {
	.search_table{
		border: 2px solid red;
		height: 350px;
		padding-top: 1%;
		padding-left: 1%;
		padding-right: 1%;
	}
}

.cardne{
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
  width: 600px;
  height: 40px;

}

.p_p_p{
	margin : 12px 0 0 100px;
}